* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
/* navbar style ***********************************************/
.navheader {
  margin-bottom: 8rem;
}

.navba {
  position: fixed;
  width: 100%;
  z-index: 1;
  text-align: center;
  top: 0px;

}

.promotion {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0.4rem;
}

.far {
  margin-left: 5rem;
}

.navlink {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E3E3E3;
  padding: 0.5rem;

}

.link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 1rem;
}

.link li a {
  color: black;
  text-decoration: none;
  font-weight: bolder;

}

.navlink .logo {
  width: 20%;
}

.logo img {
  width: 59px;
  height: 59x;
  border-radius: 50%;
}

/* Sidebar style ***********************************************/
.sidebar_menu {
  cursor: pointer;
}

/* État ouvert du saidbar */
.sidebar {
  display: block;
  position: fixed;
  visibility: hidden;
  right: 0;
  height: 9rem;
  width: 0px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 1em rgba(125, 125, 125, 0.607);
  transition: all 100ms;
  z-index: 2;
  top: 7rem;
}

/* État fermé du seidbar */
.sidebarferme {
  visibility: visible;
  width: 300px;
  transition: all 800ms;
}

.nav_saide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 1rem;
}

.nav_saide li {
  line-height: 2rem;
  list-style: none;
}

.nav_saide li a {
  text-decoration: none;
  color: black
}

/* index main  style ***********************************************/
main {
  margin-top: 1rem;


}

.slider {
  width: 100%;
  display: flex;
}

.VideoMain {
  width: 49%;
  height: 20rem;

}

.slidersez {
  width: 49%;
}

.carousel-item {
  text-align: center;
}

.carousel-item p {
  font-size: 21px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0.4em;
}

.carousel-item-1 {
  background: url('../img/1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 20rem;
}

.carousel-item-2 {
  background: url('../img/11.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 20rem;
}

.carousel-item-3 {
  background: url('../img/10.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 20rem;
}

.slidersez img {
  margin-left: 7rem;
  height: 15rem;

  width: 15rem;

}

.article {
  text-align: center;
}

.sous_article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

}

.carte {
  width: 20%;
  border: none;
  text-align: left;


}
.carte:hover {
  
  box-shadow: 1px 1px 2px 5px  rgb(227, 227, 227);

}
.btn a {
  color: white;
  text-decoration: none;
}

.btnunshow {
  display: none;
}

.btnshowas {
  display: block;
}

.article1 {
  position: relative;
  background: url('../img/1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: contain;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article2 {
  position: relative;
  background: url('../img/2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article3 {
  position: relative;
  background: url('../img/3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article4 {
  position: relative;
  background: url('../img/4.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article5 {
  position: relative;
  background: url('../img/5.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article6 {
  position: relative;
  background: url('../img/6.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article7 {
  position: relative;
  background: url('../img/7.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article8 {
  position: relative;
  background: url('../img/8.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article9 {
  position: relative;
  background: url('../img/9.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article10 {
  position: relative;
  background: url('../img/10.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article11 {
  position: relative;
  background: url('../img/11.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.article2 {
  position: relative;
  background: url('../img/7.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  background-position: center;
  height: 9rem;
  margin: 0px;
}

.carte p {
  margin: 0px;

}

.carte .prix {
  bottom: 1.5rem;
  left: 14rem;
  color: rgb(7, 35, 251);
  font-weight: bolder;
}

.btn {
  background-color: black;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 20%;

}

.contact {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
textarea {
  width: 35rem;
  border: 0.2rem solid;
  margin: 0.5rem 0px 0.5rem 0px;
}

form label {
  font-weight: bold;
  display: flex;
  justify-content: left;
}

form button {
  padding: 0.5rem;
  background-color: black;
  color: white;
}

/* Formullaire d'ajout de produit style ***********************************************/
#message {
  font-weight: 400;
  font-size: 2rem;
  background-color: red;
  color: white;
}
#mesinfo {
  font-weight: 400;
  font-size: 2rem;
  color: white;
  background-color: rgb(242, 160, 205);
}

.add_article {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_article h1 {
  margin-bottom: 1.5rem;
}

.borde {
  padding: 0.5rem;
  border-radius: 10px;
  border: solid #A7A7A7;
}

.btnadd {
  padding: 1rem;
  border: none;
  font-weight: 900;
}

/* footer style ***********************************************/
.ligne {
  color: black;
  font-weight: bold;
  border: 0.2rem solid;
}

.footba {
  margin-top: 1rem;
  text-align: center;
  background-color: #D1CDCD;

}

.footlink {
  width: 100%;
  display: flex;
  align-items: center;

}

.footlogo {
  width: 50%;
  text-align: left;
  margin-left: 2rem;
}

.footlogo img {
  width: 59px;
  height: 59x;
  border-radius: 50%;
}

.footerres {
  width: 33%;
  display: flex;
  list-style: none;
  color: black;
  gap: 2rem;
}

.footerres li a {
  font-size: 3rem;
  color: black;

}

.linkfooter {
  width: 33%;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: right;
  color: black;
  gap: 0.4rem;
}

.linkfooter li a {
  text-decoration: none;
  color: black;
}

.footcopy {
  font-weight: bolder;
  background: black;
  color: white;
  margin: 0px;
  padding: 0.4rem;
}
